body, html{
    background-color: black;

}
.contenedor {
    color:whitesmoke;
    background-color: black;

}
.h2, h2 {
    font-size: 30px;
    color: white;
}
p {
    color:white;
}
.pizarra {
    padding: 0px;
    border:5px solid dimgray;
    margin-top: 30px;
position: relative;
margin-left: 330px;
    background-color: black;
    height:680px;
    width: 880px;
    overflow: hidden;
}

.form {
    padding: 20px;
    color:whitesmoke;;
    background-color: rgba(255,255,255,0.2);
    margin-top: 30px;
    margin-left: 10px;
    position: absolute;
    width: 300px;
    height: 680px;
}
span {
    color:whitesmoke;
    font-size: 12px;

}

.color {
    height: 40px;
}
input{
    color:black;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.btn {
    color:black;
    margin-top: 4px;
    font-size: 10px;
}
#x{
    color:black;
}
#y{
    color:black;
}
#radio{
    color:black;
}
label {
    font-size: 8px;
}